body {
    width: 40%;
    margin: 40%px;
    background-color: salmon;

}

#profile-container{
    max-width: 100%px;
    background-color: antiquewhite;
    border: 1px solid gray;
    border-radius: 6px;

}

#profile-image{
    width: 80%;
    height: auto;

}

#profile-name{
    text-align: center;
}

<<<<<<< HEAD
#header {
=======
#footer {
>>>>>>> footer
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
<<<<<<< HEAD
=======

>>>>>>> footer
}